Python Assignment 1

In [ ]:
year=input('please enter birth year')

print(2022-int(year))

please enter birth year2000
22

Python Assignment 2

In [ ]:
number=input('please enter a natural number')
sum=0
avg=0
for i in range(1,int(number)+1,1):
  sum+=i
print('sum = ',sum)
avg=int(sum)/int(number)
print('average = ', avg)

please enter a natural number50
sum =  1275
average =  25.5

Python Program to Check Even or Odd

In [ ]:
num=input('please enter any number')
if (num=='q'):
  exit()
elif(int(num)%2==0):
  print('number is even')
else:
  print('number is odd')

please enter any number4
number is even

Task 7

In [ ]:

cr1=int(input('enter first ascii'))
cr2=int(input('enter second ascii'))
cr3=int(input('enter third ascii'))
print(chr(cr1),chr(cr2),chr(cr3))

enter first ascii 25
enter second ascii 28
enter third ascii 30


Task 8

In [ ]:
radius=input('please enter radius')
area=float(radius)*float(radius)*3.14
print('the area =',float(area))

please enter radius10
the area = 314.0

Task 9

In [ ]:
def rev(x):
  return x[::-1]
first=input('enter first name')
last=input('enter lastname')
first=rev(first)
last= rev(last)
print(first,' ', last)

enter first name yussra
enter lastname Elsayed
arssuy    deyaslE

Task 10

In [ ]:
name=' twinkle, twinkle,little star \n \t How I wonder what you are\n \t \tup above the world so high \n \t \tlike a diomand in the sky\n twinkle twinkle little star \n \t How I wonder what you are'
print(name)

 twinkle, twinkle,little star
 	 How I wonder what you are
 	 	up above the world so high
 	 	like a diomand in the sky
 twinkle twinkle little star
 	 How I wonder what you are