Question 1

In [ ]:
# Perfect
number=int(input('please enter a number'))
number=number%10
print(number)

please enter a number456
6

Question 2

In [ ]:
number=int(input('please enter a number'))
number=number%10
if(number%3==0):
  print('number is devisible by 3')
else:
  print('number is not devisible by 3')

please enter a number456
number is devisible by 3

Question 3

In [ ]:
week=int(input('enter a number corresbonding to a week day from 1 to 7 '))
weekdays=['saturday','sunday','monday','tuesday','wednesday','thuresday','friday']
print(weekdays[week])

enter a number corresbonding to a week day from 1 to 7 5
thuresday

Question 4

In [ ]:
char=input('enter a character: ')
Vowels=['a','e','o','i','u']
result='not vowel'
for item in Vowels:
  if (char==item):
    result='vowel'
print(result)

enter a character: a
vowel

Question 5

In [ ]:
marked_price=int(input('please enter the marked price'))
if(marked_price>10000):
  net=marked_price-(marked_price*0.20)
  print(net)
elif(marked_price>7000 and marked_price<=10000):
  net=marked_price-(marked_price*0.15)
  print(net)
elif(marked_price<=7000):
  net=marked_price-(marked_price*0.10)
  print(net)

please enter the marked price7500
6375.0

Question 6

In [ ]:
lst = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print(lst[1:9:2])

[20, 40, 60, 80]

Question 7

In [ ]:
rows = 4
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4

Question 8

In [ ]:
sum=0
avg=0
count=0
while True:
  number=int(input('enter a number: '))
  sum+=number
  count+=1
  avg=sum/count
  if(number==0):
    break
print('sum is',sum)
print('average is', avg)

enter a number: 5
enter a number: 6
enter a number: 3
enter a number: 0
sum is 14
average is 3.5

Question 9

In [ ]:
lst=[]
for x in range(4,30):
  if(x%2==1):
    lst.append(x)
print(lst)

[5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

Question 10

In [ ]:
lst=[100,30,22,40,60,20,10,300]
max=lst[0]
min=lst[0]
for i in lst:
  if(i>max):
    max=i
  if(i<min):
    min=i
print('max=', max)
print('min=', min)

max= 300
min= 10